.destination-card {
    position: relative;
  }
  
  .destination-card img {
    width: 100%;
    height: 290px;
    height: 100%;
    border-radius: 20px;
  }

  .destination-card-img {
    height: 100%;
  }

  .destination-card-title {
    position: absolute;
    background: rgba(136, 136, 136, .5);
    width: 100%;
    bottom: 0;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }