.discover ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    background-color: #f8f8f8;
  }
  .discover li {
    padding: 10px;
    cursor: pointer;
  }
  .discover li:hover {
    color: #007bff;
  }
  
  