  .header {
    display: flex;
    justify-content: center;
    text-align: start;
    background: linear-gradient(to bottom, #D0CBFF 0%, rgba(208, 203, 255, 0) 100%);
    padding: 176px 120px 150px 120px;
  }

  .header-promo {
    padding-right: 280px;
  }

  .header h1 {
    font-size: 4.5em;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  }

  .header p {
    font-size: 1.2em;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    font-size: 1em; 
  }
  